<a class="btn btn-primary" href="#users_add">添加用户</a>
<table class="table">
    <thead>
    <th>
        id
    </th>
    <th>
        姓名
    </th>
    <th>
        年龄
    </th>
    <th>
        操作
    </th>
    </thead>
    <tr ng-repeat="user in users">
        <td>
            {{user.id}}
        </td>
        <td>
            {{user.name}}
        </td>
        <td>
            {{user.age}}
        </td>
        <td><button  class="btn btn-primary" ng-click="removeUser(user)">删除</button></td>
    </tr>
</table>